body {
    background-color: #61122f;

}

header{
    color: #f6b319;

}

.row {
    padding-top: 30px;
}

#leftSideButtons {
    padding: 10px;
    margin-left: 20px;
}

#innerDiv {
    padding-top: 50px;
}

.btn-primary {
    background-color: #f6b319;
    font-size: 150%;
    border-color: white; 
}

.btn-success {
    background-color: #8e7a88;
    border-color: white;
}

select {
    height:32px;
    border:1px solid #000;
    width:260px;
    text-indent: 8px;
}

#center_div {
    vertical-align: middle;
}

#title_text {
    font-style: oblique;
    text-align: center;
}

input {
    margin: 10px;
    height:32px;
    border:1px solid #000;
    width:260px;
    text-indent: 8px;
}


